.KraytBanner {
    text-align: center;
    line-height: 60px;
    background-color: #333;
    height: 60px;
  }
  
  .Banner-logo {
    height: 40px;
    filter: invert(100%);
  }

  .rightSideBannerText {
    line-height: 60px;
    height:60px;
    color: white;
  }
  
  .Banner-title {
    font-size: 1.5em;
    line-height: 60px;
    height:60px;
    padding: 0,20px;
    float: left;
  }
  
  .Banner-intro {
    font-size: large;
  }

  .whiteSpace {
    background-color: whitesmoke;
  }
  